{{>layout/header}}

<div class="col-md-12">
    <input type="hidden" name="postCount" id="postCount" value="{{postCount}}">
    <input type="hidden" name="nowPage" id="nowPage" value="{{nowPage}}">
    <input type="hidden" name="startPage" id="startPage" value="{{startPage}}">
    <input type="hidden" name="endPage" id="endPage" value="{{endPage}}">
    <h1 style="text-align:center;">전체 리스트</h1><h6>* 총 {{reviewCount}}개의 리뷰가 있습니다.</h6>
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th></th>
            <th>영화</th>
            <th>제목</th>
            <th>날짜</th>
            <th>별점</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#list}}
            <tr>
                <td>{{id}}</td>
                <td>{{movieInfo.name}}</td>
                <td><a href="/review/update/{{id}}">{{title}}</a></td>
                <td>{{regDate}}</td>
                <!--<td id="score">{{score}}</td>-->
                <td>
                    <div class="starScore" data-max="5" data-rate="{{score}}"></div>
                </td>
                <td>{{viewCount}}</td>
            </tr>
        {{/list}}
        {{^list}}
            <tr>
                <td style="text-align:center;" colspan="6">작성된 리뷰가 없습니다.</td>
            </tr>
        {{/list}}
        </tbody>
    </table>
    <br>
    <!--page-->
    <div id="pageHtml" style="text-align:center;"></div>
    {{#userName}}
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-primary" onclick="postChk();">글 등록</button>
                <a href="/review" role="button" class="btn btn-secondary">돌아가기</a>
            </div>
        </div>
    {{/userName}}
</div>
{{>layout/footer}}
<!--별 플러그인 출처 : https://www.youtube.com/watch?v=H-d0W0t7FKI-->
<!--<script src="https://cdn.jsdelivr.net/gh/hiphop5782/score@latest/score.js"></script>-->
<script src="/js/app/score.js"></script><!--별 플러그인-->
<script src="/js/app/review-list.js"></script>




